/* NAVBAR */
#header img {
    margin-right: 20px;
}

/* BODY */
#body {
    height: calc(100vh - 120px);
    background-color: #252e3f;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}
.block {
    display: flex;
    padding: 3em 3em 1em 3em;
}
.block-container {
    /*display: flex;*/
    flex-direction: column;
    background-color: white;
    height: 100%;
    width: 100%;
    padding: 2em;
}
#map {
    flex: 60%;
}
.figure {
    overflow: hidden;
    width: 100%;
    height: calc(100% - 5em);
}
#analysis {
    flex: 40%;
    padding-left: 0;
}
#analysis-option {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1em;
}
#analysis-option label {
    flex: 10%;
    padding: 0.25em 0 1em 0;
}
#analysis-option div {
    flex: 90%;
}


/* FOOTER */
footer {
    height: 32px;
    background-color: #252e3f;
    color: white;
    text-align: center;
    padding-top: 1em;
}